<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <title>Hello, world!</title>
</head>

<body>
  <div class="container">
    <div class="contextMenu" id="example" style="width:500px;height:500px;background:green">
      <p>Right click</p>
    </div>
  </div>


  <!-- Context menu -->
  <div class="dropdown-menu" id="context-menu">
      <h5 class="dropdown-header">Dropdown header</h5>
      <a class="dropdown-item" href="#">Link 1</a>
      <a class="dropdown-item" href="#">Link 2</a>
      <a class="dropdown-item" href="#">Link 3</a>
      <h5 class="dropdown-header">Dropdown header</h5>
      <a class="dropdown-item" href="#">Another link</a>
    </div>
  <!-- /Context menu -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../public/js/jquery-3.3.1.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="../public/js/contextmenu.js"></script>

  <script>
    $('.contextMenu').on('contextmenu', function (e) {
      var top = e.pageY - 10;
      var left = e.pageX - 90;
      $("#context-menu").css({
        display: "block",
        top: top,
        left: left
      }).addClass("show");
      return false; //blocks default Webbrowser right click menu
    }).on("click", function () {
      $("#context-menu").removeClass("show").hide();
    });

    $("#context-menu a").on("click", function () {
      $(this).parent().removeClass("show").hide();
    });

  </script>
</body>

</html>