<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/bootstrap-formhelpers.min.css">
  <link rel="stylesheet" href="../public/css/style.css">
  <title>Hello, world!</title>
</head>

<body>

  <div class="container" style="height:1000px" id="drawing">

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-backdrop="static"
      style="width:100px;height:100px;background:red">
      Open modal
    </button>

    <button class="btn btn-info" onclick="addNewImage()">Thêm hình ảnh mới</button>
    <button class="btn btn-success" onclick="increaseSize()">Tăng kích thước</button>




    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Tags</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body scrollable ">
            <p>Choose tag name</p>
            <table class="table table-hover ">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Name</th>
                  <th scope="col">Type</th>
                  <th scope="col">Device</th>
                  <th scope="col">Address</th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr class="row-pointer">
                  <td>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="example1" value="Val-1">
                      <label class="custom-control-label" for="tr1"></label>
                    </div>
                  </td>
                  <td>Val-1</td>
                  <td>Int</td>
                  <td>PLC-1</td>
                  <td>MW100</td>
                </tr>
                <tr class="row-pointer">
                  <td>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="example1" value="Val-2">
                      <label class="custom-control-label" for="tr2"></label>
                    </div>
                  </td>
                  <td>Val-2</td>
                  <td>Float</td>
                  <td>PLC-1</td>
                  <td>MW102</td>
                </tr>

              </tbody>
            </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="min-width:100px" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" style="min-width:100px" data-dismiss="modal"
              id="btnTagOK">OK</button>

          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../public/js/jquery-3.3.1.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="../public/js/contextmenu.js"></script>
  <!-- SVG script -->
  <script src="../public/js/svg.min.js"></script>
  <!-- /SVG script -->

  <!-- SVG draw script -->
  <script src="../public/js/svg.draw.js"></script>
  <!-- /SVG draw script -->

  <script src="../js/bootstrap-formhelpers.min.js"></script>
  <script>
    const shapes = [];

    $(document).ready(function ($) {
      $('.table-body tr').click(function () {
        $(this).children('td').children('div').children('input').prop('checked', true);

        $('.table-body tr').removeClass('row-selected');
        $(this).toggleClass('row-selected');
      });

      $('#myModal').one('show.bs.modal', function (showEvent) {
        $('#btnTagOK').on('click', function (btnEvent) {
          if ($('#myModal')[0].querySelector('input[name="example1"]:checked')) {
            document.getElementById('inputText').hiddenWhen = 'tag';
          }
          console.log(document.getElementById('inputText').hiddenWhen);
        });
      });
    });

    function addNewImage() {
      var defaultImageSrc = '../public/img/png/default-image.png';
      var img = document.createElement('img')
      img.className += ' contextMenu '


      //Image css style
      img.src = defaultImageSrc;
      img.style.height = '100px';
      img.style.width = '150px';
      img.style.position = 'absolute';
      img.style.top = '500px';
      img.style.left = '500px';
      img.style.border = '2px solid black';

      document.body.appendChild(img);
      shapes.push(img);
      draggable = new PlainDraggable(img);
      
  

    }

    function increaseSize() {
      shapes.forEach(function (item) {
        item.style.height = '200px';
        item.style.width = '200px';
      });
    }
  </script>
  <script src="../public/js/plain-draggable.min.js"></script>
</body>

</html>